DEBUG=False
SECRET_KEY=my_secret_key
ALLOWED_HOSTS=127.0.0.1,0.0.0.0

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

VIRTUAL_HOST=kudos-box.com
VIRTUAL_PORT=8000
LETSENCRYPT_HOST=kudos-box.com