{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col g-4">
            <a class="btn btn-primary" href="{% url 'message_create' box.slug %}" role="button">Create a new message <i class="bi bi-plus-square"></i></a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#archiveMessagesModal">
              Archive messages  <i class="bi bi-archive"></i>
            </button>
        </div>
    </div>
    {% include 'extend/messages_container.html' with messages=messages_not_archived %}

    <p>
        <br>
        <a class="text-muted" data-bs-toggle="collapse" href="#archivedMessages" role="button" aria-expanded="false" aria-controls="archivedMessages">
        Show archived messages ({{ messages_archived.count }})
        </a>
    </p>

    <div class="collapse" id="archivedMessages">
      {% include 'extend/messages_container.html' with messages=messages_archived %}
    </div>

<!-- Modal -->
<div class="modal fade" id="archiveMessagesModal" tabindex="-1" aria-labelledby="archiveMessagesModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Archive Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        Are you sure that do you want to archive all messages in this box?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{% url 'archive_box_messages' box.slug %}" role="button">Archive messages  <i class="bi bi-archive"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}